{% extends "AppProyecto/padre.html" %}

{% block contenidoQueCambia %}
    <div class="container mt-4">
        <div class="card p-4 mx-auto" style="max-width: 500px;">
            <div class="text-center">
                <h1 class="mb-4">Confirmar Eliminación</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <p class="mb-4">¿Estás seguro que deseas borrar "<i>{{ object }}</i>"?</p>
                    <button type="submit" class="btn btn-danger mb-2">Borrar</button>
                    <div>
                        <a href="{% url 'List' %}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
