{% extends "AppProyecto/padre.html" %}

{% block contenidoQueCambia %}
    <div class="container mt-4">
        <div class="card p-4 mx-auto" style="max-width: 600px;">
            <div class="text-center">
                <h1 class="mb-4">Detalles del Curso</h1>
                <p class="mb-2"><strong>Curso:</strong> <i>{{ curso.curso }}</i></p>
                <p class="mb-4"><strong>Camada:</strong> <i>{{ curso.camada }}</i></p>

                <a href="{% url 'List' %}" class="btn btn-outline-secondary">Regresar</a>
            </div>
        </div>
    </div>
{% endblock %}
