<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cafetería de Especialidad - Acerca de Nosotros</title>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/AppProyecto/static/appproyecto/css/styles.css" rel="stylesheet" />
</head>
<body>
{% extends "AppProyecto/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="bg-white p-5 rounded shadow-sm">
                        <h2 class="text-center mb-4">Acerca de Nosotros</h2>
                        <p>Nos encontramos en el corazón de Buenos Aires, y desde hace muchos años hemos sido un punto de encuentro para los amantes del café de especialidad. Nuestra historia comenzó con una simple pasión por el café, una pasión que se ha ido transformando a lo largo del tiempo en un compromiso con la calidad y la excelencia.</p>
                        
                        <p>A lo largo de los años, nos hemos dedicado a perfeccionar cada aspecto de nuestra cafetería. Desde la cuidadosa selección de granos provenientes de las mejores regiones cafetaleras del mundo, hasta la implementación de las técnicas más avanzadas en su preparación, nos hemos comprometido a ofrecer una experiencia única en cada taza.</p>
                        
                        <p>El camino no ha sido fácil, pero nuestra dedicación y amor por el café nos ha permitido crecer y evolucionar. No solo somos un lugar para disfrutar de una buena bebida, sino que también hemos expandido nuestro enfoque hacia la educación. Por eso, decidimos ofrecer cursos para aquellos que desean adentrarse en el mundo del café.</p>

                        <p>Nuestros cursos están diseñados tanto para aficionados como para profesionales. Queremos compartir nuestro conocimiento y pasión, asegurándonos de que cada participante salga con un entendimiento profundo de los orígenes del café, las técnicas de preparación y los métodos que lo elevan a un nivel superior.</p>

                        <p>Hoy en día, somos más que una simple cafetería. Somos una comunidad de amantes del café, donde cada detalle importa y donde el aprendizaje nunca se detiene. Ven a visitarnos, aprende con nosotros y forma parte de esta hermosa tradición que es el café de especialidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>
